@page {
    size: A4 landscape;
    margin: 1cm;
}

pre, code {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    font-size: 8px !important;
}

.container {
    width: 100% !important;
    max-width: 100% !important;
}
